/*--------------------------------------------------------------------------------------------
*
*	Vars
*
*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------
*
*	Basic options
*
*--------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  outline: none;
}

.tx-up {
  text-transform: uppercase;
}

.tx-right {
  text-align: right;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
  height: auto;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  -ms-align-items: center;
  align-items: center;
}

.ai-fe {
  -ms-align-items: flex-end;
  align-items: flex-end;
}

/*-----------------------SECTION VS-FORM-BUILDER------------------------*/
#vsfb-builder {
  /*---------------------------------------------------------------------------------------------
  *
  *  All Inputs
  *
  *---------------------------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------------------------
  *
  *  Other options
  *
  *---------------------------------------------------------------------------------------------*/
}
#vsfb-builder input[type=text],
#vsfb-builder input[type=search],
#vsfb-builder input[type=number],
#vsfb-builder textarea,
#vsfb-builder select {
  box-sizing: border-box;
  height: 40px;
  background-color: #fff;
  border-color: #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
  border-radius: 6px;
  color: #044E71;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
#vsfb-builder input[type=text]:focus,
#vsfb-builder input[type=search]:focus,
#vsfb-builder input[type=number]:focus,
#vsfb-builder textarea:focus,
#vsfb-builder select:focus {
  outline: 3px solid #EBF5FA;
  border-color: #399CCB;
}
#vsfb-builder input[type=text]:disabled,
#vsfb-builder input[type=search]:disabled,
#vsfb-builder input[type=number]:disabled,
#vsfb-builder textarea:disabled,
#vsfb-builder select:disabled {
  background-color: #F9FAFB;
  color: #09a5ef;
}
#vsfb-builder input[type=text]::-moz-placeholder, #vsfb-builder input[type=search]::-moz-placeholder, #vsfb-builder input[type=number]::-moz-placeholder, #vsfb-builder textarea::-moz-placeholder, #vsfb-builder select::-moz-placeholder {
  color: #399CCB;
}
#vsfb-builder input[type=text]:-ms-input-placeholder, #vsfb-builder input[type=search]:-ms-input-placeholder, #vsfb-builder input[type=number]:-ms-input-placeholder, #vsfb-builder textarea:-ms-input-placeholder, #vsfb-builder select:-ms-input-placeholder {
  color: #399CCB;
}
#vsfb-builder input[type=text]::placeholder,
#vsfb-builder input[type=search]::placeholder,
#vsfb-builder input[type=number]::placeholder,
#vsfb-builder textarea::placeholder,
#vsfb-builder select::placeholder {
  color: #399CCB;
}
#vsfb-builder input[type=text], #vsfb-builder input[type=email], #vsfb-builder textarea {
  box-sizing: border-box;
  height: 40px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #fff;
  border-color: #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
  border-radius: 6px;
  color: #344054;
}
#vsfb-builder textarea {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  min-height: 56px;
}
#vsfb-builder select {
  min-width: 160px;
  max-width: 100%;
  padding-right: 40px;
  padding-left: 12px;
  background-image: url("../img/ico/icon-chevron-down.svg");
  background-position: right 10px top 50%;
  background-size: 20px;
}
#vsfb-builder select:hover, #vsfb-builder select:focus {
  color: #0783BE;
}
#vsfb-builder select::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
}
#vsfb-builder .button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #0783BE;
  border-radius: 6px;
  color: #0783BE;
}
#vsfb-builder .wrap-add-block {
  margin-top: 15px;
}
#vsfb-builder .wrap-add-block select {
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
}
#vsfb-builder label p {
  font-weight: 600;
  font-size: 14px;
}
#vsfb-builder label p sup {
  color: #DA5A39;
  font-weight: 700;
}
#vsfb-builder form {
  width: 100%;
  max-width: 600px;
  position: relative;
}
#vsfb-builder form .saveQuest {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
  font-weight: 700;
}
#vsfb-builder form .saveQuest:hover {
  background-color: #0783BE;
  color: white;
}
#vsfb-builder .wrap-blocks {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
}
#vsfb-builder .wrap-blocks .head {
  font-size: 16px;
  font-weight: 400;
  min-height: 64px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 24px;
  padding-left: 24px;
}
#vsfb-builder .wrap-blocks .head span {
  font-weight: 700;
}
#vsfb-builder .wrap-blocks .block {
  width: 100%;
  border-top: 1px solid #EAECF0;
}
#vsfb-builder .wrap-blocks .block.active {
  border-top: 1px solid #A5D2E7;
}
#vsfb-builder .wrap-blocks .block.active .block-head {
  background: #D8EBF5;
}
#vsfb-builder .wrap-blocks .block.active .block-head:hover {
  background: #D8EBF5;
}
#vsfb-builder .wrap-blocks .block .block-head {
  cursor: pointer;
  padding: 8px 25px;
}
#vsfb-builder .wrap-blocks .block .block-head .actions {
  width: 100%;
  color: #0783BE;
}
#vsfb-builder .wrap-blocks .block .block-head .actions .title {
  margin: 5px 0;
}
#vsfb-builder .wrap-blocks .block .block-head .actions .title:hover {
  text-decoration: underline;
}
#vsfb-builder .wrap-blocks .block .block-head .actions span {
  margin-right: 0;
  padding-left: 10px;
  padding-bottom: 5px;
}
#vsfb-builder .wrap-blocks .block .block-head .actions span:hover {
  text-decoration: underline;
}
#vsfb-builder .wrap-blocks .block .block-head .actions .copy {
  color: #DA5A39;
}
#vsfb-builder .wrap-blocks .block .block-head:hover {
  background-color: #f7fbfd;
}
#vsfb-builder .wrap-blocks .block .block-content {
  border-top: 1px solid #EAECF0;
  border-left: 4px solid #6BB5D8;
  padding: 10px 25px 15px;
}
#vsfb-builder .wrap-blocks .block .block-content .add-item {
  cursor: pointer;
}
#vsfb-builder .wrap-blocks .block .block-content .add-item span {
  margin: 3px 0 -3px;
  font-size: 16px;
  text-decoration: none;
}
#vsfb-builder .wrap-blocks .block .block-content .add-item:hover {
  text-decoration: underline;
}
#vsfb-builder .wrap-blocks .block .block-content .list p {
  margin: 0;
  position: relative;
  width: 100%;
}
#vsfb-builder .wrap-blocks .block .block-content .list p b {
  font-size: 14px;
}
#vsfb-builder .wrap-blocks .block .block-content .list p input {
  margin-left: 10px;
  padding-right: 30px;
}
#vsfb-builder .wrap-blocks .block .block-content .list p .dashicons-no {
  position: absolute;
  top: 50%;
  right: 10px;
  border: 1px solid #3c434a;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
  transition: opacity 0.4s;
}
#vsfb-builder .wrap-blocks .block .block-content .list p .dashicons-no:hover {
  border: 1px solid #0783BE;
  color: #0783BE;
  opacity: 1;
}
#vsfb-builder .wrap-blocks .block .block-content .list .item-icons {
  width: 100px;
  margin-left: 10px;
  flex-shrink: 0;
}
#vsfb-builder .wrap-blocks .block .block-content .block-footer {
  margin-top: 15px;
}
#vsfb-builder .wrap-blocks .block .block-content hr {
  opacity: 0.8;
  margin: 15px -25px;
}
#vsfb-builder .add-block {
  background-color: #0783BE;
  color: white;
  font-weight: 700;
}
#vsfb-builder .add-block:hover {
  background-color: #066998;
}

.checkbox-switch {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  line-height: 1.2;
  font-size: 10px;
}

.checkbox-switch input.input-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 25px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.checkbox-switch .checkbox-animate {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #95a5a6;
  transition: background 0.25s ease-out 0s;
}

.checkbox-switch .checkbox-animate:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #7f8c8d;
  top: 5px;
  left: 5px;
  transition: left 0.3s ease-out 0s;
  z-index: 10;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate {
  background-color: #2ecc71;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate:before {
  left: 30px;
  background-color: #27ae60;
}

.checkbox-switch .checkbox-off,
.checkbox-switch .checkbox-on {
  float: left;
  color: #fff;
  font-weight: 700;
  padding-top: 6px;
  transition: all 0.3s ease-out 0s;
}

.checkbox-switch .checkbox-off {
  margin-left: 25px;
  opacity: 1;
}

.checkbox-switch .checkbox-on {
  display: none;
  float: right;
  margin-right: 25px;
  opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-off {
  display: none;
  opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-on {
  display: block;
  opacity: 1;
}/*# sourceMappingURL=admin.css.map */